  <div id="savedheader" class="bannerwrapper"><h3 class="banner">Saved composite {{item.id}}</h3> </div>
  <div id="outerwrapper">
  <div id="wrapper" >
    <!-- <span id="status" ng-if="compositeStatus!='loaded'">{{compositeStatus}}</span> -->
     <!-- <canvas id="cvs" ng-if="item" class="itemcanvas" width="1000" height="700" compositor saved="item"></canvas>  -->
    <img class="itemimg" ng-src="storage/images/{{item.id}}.png" ng-class="{'loading': loading}">
  </div>  

      <ul id="infoitems">
        <li ng-repeat="i in item.drawData" class="loaded">
          <a target="_blank" ng-href="https://www.flickr.com/photos/{{i.flickr.owner}}/{{i.flickr.id}}">
            <div class="thumb" style="background-image:url('{{i.flickr.thumb}}')"></div>
          </a>
          {{i.flickr.title}} ({{ownerMap[i.flickr.owner]}})</li>
      </ul>

       <div id="buttons">
        <a href="#">
          <div id="advanceButton" class="button" title="generate another composite"></div>
          <div id="saveButton" class="button" ng-click="saveImageOnly(item)" title="save image only"></div>
        </a>
      </div>
</div>